<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
</head>

<body>
  <div class="container-fluid"></div>  
  <header>
      Yash Mehta (N01452496), Vrushank Amin (N01452389) 
  </header>
  <div class="content myBody">
    {{{body}}}
  </div>

  <footer class="fixed-bottom">
    <div id="footer">
      <p>
        <a href="mailto:yashmehta2410@gmail.com" style="color:#54a0ff;">yashmehta2410@gmail.com, </a>
        <a href="mailto:vrushank796@gmail.com" style="color:#54a0ff;">vrushank796@gmail.com</a>
      </p>
    </div>
  </footer>
  </div>
</body>

</html>