<div id="content">
    <nav class="navbar navbar-light" id="navbar">
    <div class="container-fluid">
      <h1 id="header">Pagination Part</h1>
      <form method="get" action="/api/logout">
        <div class="logout-btn">
            <button class="btn btn-danger">Logout</button>
        </div>
      </form>
    </div>
  </nav>
  <br>
    <h1>Filter Restaurant Record With Pagination</h1>
    </br>
    {{#if errorMessage}}

    {{#each errorMessage as |error|}}
    <div class="d-flex justify-content-center">
        <div class="alert w-50 text-center  alert-danger" role="alert">
            <p> {{error.msg}}</p>
        </div>
    </div>
    {{/each}}
    {{/if}}
    </br>
    <div class="col-md-6 col-md-offset-3  formclass">
        <form action="/api/paginationformHandlebar" method="post">
            <div class="form-group row">
                <label for="page" class="col-sm-4  col-form-label">Page:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" Id="page" name="page" placeholder="Enter Page Number">
                </div>
            </div>
            <div class="form-group row">
                <label for="perPage" class="col-sm-4 col-form-label">PerPage:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" Id="perPage" name="perPage" placeholder="Enter Per page">
                </div>
            </div>
            <div class="form-group row">
                <label for="borough" class="col-sm-4 col-form-label">Borough:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" Id="borough" name="borough" placeholder="Enter Borough">
                </div>
            </div>
            <div class="form-group row">
                <div class="col text-center">
                    <button type="submit" class="submit-btn">Submit Data</button>
                </div>
            </div>
        </form>
    </div>
</div>